* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  background-color: hsl(225, 100%, 94%);
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }